geneweb-engine/src/xml/Report.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eldasoft.it/Report/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Report" targetNamespace="http://www.eldasoft.it/Report/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eldasoft.it/Report/">
      <xsd:element name="GetDefinizioneReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codice" type="xsd:string" maxOccurs="1"
            	minOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDefinizioneReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="xsd:string"/>
           </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:element name="GetRisultatoReport">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="codice" type="xsd:string"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="codiceUfficioIntestatario" type="xsd:string"
      				nillable="true" maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="parametro"
      				type="tns:ValParametroType" maxOccurs="unbounded"
      				minOccurs="0">
      			</xsd:element>
      			<xsd:element name="pagina" type="xsd:int" nillable="true" maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="maxDimensionePagina" type="xsd:int" nillable="true" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:complexType name="ValParametroType">
      	<xsd:sequence>
      		<xsd:element name="codice" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="valore" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:element name="GetRisultatoReportResponse">        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="xsd:string"/>
           </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllegato">
      	<xsd:complexType>
      	  <xsd:sequence>
            <xsd:element name="idProgramma" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="idDocumento" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllegatoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="risultato" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDefinizioneReportRequest">
    <wsdl:part element="tns:GetDefinizioneReport" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetDefinizioneReportResponse">
    <wsdl:part element="tns:GetDefinizioneReportResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetRisultatoReportRequest">
  	<wsdl:part name="parameters" element="tns:GetRisultatoReport"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRisultatoReportResponse">
  	<wsdl:part name="parameters" element="tns:GetRisultatoReportResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllegatoRequest">
  	<wsdl:part name="parameters" element="tns:GetAllegato"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllegatoResponse">
  	<wsdl:part name="parameters" element="tns:GetAllegatoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Report">
    <wsdl:operation name="GetDefinizioneReport">
      <wsdl:input message="tns:GetDefinizioneReportRequest"/>
      <wsdl:output message="tns:GetDefinizioneReportResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetRisultatoReport">
    	<wsdl:input message="tns:GetRisultatoReportRequest"></wsdl:input>
    	<wsdl:output message="tns:GetRisultatoReportResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllegato">
    	<wsdl:input message="tns:GetAllegatoRequest"></wsdl:input>
    	<wsdl:output message="tns:GetAllegatoResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportSOAP" type="tns:Report">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="GetDefinizioneReport">
  		<soap:operation
  			soapAction="http://www.eldasoft.it/Report/GetDefinizioneReport" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetRisultatoReport">
  		<soap:operation
  			soapAction="http://www.eldasoft.it/Report/GetRisultatoReport" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetAllegato">
  		<soap:operation
  			soapAction="http://www.eldasoft.it/Report/GetAllegato" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Report">
    <wsdl:port binding="tns:ReportSOAP" name="ReportSOAP">
      <soap:address location="http://www.eldasoft.it/Report"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
